@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(78, 77, 77, 0.3);
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 2rem;
}


section {
    font-size: 2rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.date {
    text-shadow: 1px 1px 1px rgb(103, 103, 103);
    font-weight: 700;
    font-size: 3rem;
}

.card {
    text-align: center;
    color: rgb(252, 252, 252);
    line-height: 1.2;
    padding: 1rem;
    border-radius: 5px;

    font-weight: 400;
}